<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <p>
    <%= t('.success', grade: @test_passage.grade) %>
  </p>
<% else %>
    <p><%= t('.fail', grade: @test_passage.grade) %></p>
<% end %>

<%= link_to t('.try_again'), start_test_path(@test_passage.test), method: :post %> |
<%= link_to t('.all_tests'), tests_path %>
